.html {
  background-color: rgb(112, 75, 112);
}
nav {
  box-shadow: 0 0 12px -2px black;
  position: top;
  left: 0;
  right: 0;
  align-items: center;
  background-color: #0f0f0f;
  display: flex;
  color: rgba(242, 245, 250, 0.815);
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
main {
  min-height: 100vh;
  padding: 85px 24px 96px;
  box-shadow: 0 0 12px -2px black;
  color: rgba(242, 245, 250, 0.815) ue;
  font-family: "Courier";
  font-size: 25px;
}
.body {
  background-color: rgb(15, 99, 29);
  color: rgba(242, 245, 250, 0.815);
  padding: 50px;
  margin: 0 auto;
  max-width: 975px;
  height: 0 auto;
}
a {
  color: rgb(150, 100, 150);
  font-size: xx-large;
  font-family: monospace;
}
.quote {
  font-family: "Lucida Sans";
}
.portfolio-image {
  height: 200px;
  width: 300px;
}
.home-image {
  height: 450px;
  width: 400px;
  float: right;
}
.about-image {
  height: 250px;
  width: 300px;
}
